In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
from sklearn.datasets import load_boston

In [3]:
Df=load_boston()

In [4]:

Df.feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [5]:
print(Df.DESCR)

.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

In [6]:
df=pd.DataFrame(Df.data)

In [7]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [8]:
Df.feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [9]:
df.columns=Df.feature_names

In [10]:
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [11]:
df['price']=Df.target

In [12]:
df.isna().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
price      0
dtype: int64

In [13]:
df.duplicated().sum()

0

In [14]:
df.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
price      0
dtype: int64

In [15]:
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,price
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

In [16]:
#from pandas_profiling import profile_report

In [17]:
#pf=profile_report.ProfileReport(df)

In [18]:
#pf.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [19]:
df.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'price'],
      dtype='object')

In [20]:
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,price
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

In [21]:
df2=df.drop(['price'],axis=1)

In [22]:
df2

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [23]:
from sklearn.preprocessing import StandardScaler

In [24]:
scaler=StandardScaler()

In [25]:
df2=scaler.fit_transform(df2)

In [26]:

df2

array([[-0.41978194,  0.28482986, -1.2879095 , ..., -1.45900038,
         0.44105193, -1.0755623 ],
       [-0.41733926, -0.48772236, -0.59338101, ..., -0.30309415,
         0.44105193, -0.49243937],
       [-0.41734159, -0.48772236, -0.59338101, ..., -0.30309415,
         0.39642699, -1.2087274 ],
       ...,
       [-0.41344658, -0.48772236,  0.11573841, ...,  1.17646583,
         0.44105193, -0.98304761],
       [-0.40776407, -0.48772236,  0.11573841, ...,  1.17646583,
         0.4032249 , -0.86530163],
       [-0.41500016, -0.48772236,  0.11573841, ...,  1.17646583,
         0.44105193, -0.66905833]])

In [27]:
df2.shape

(506, 13)

In [28]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
vif=pd.DataFrame()

In [29]:
vif['VIF']=[variance_inflation_factor(df2,i) for i in range(df2.shape[1])]

In [30]:
vif

         VIF
0   1.792192
1   2.298758
2   3.991596
3   1.073995
4   4.393720
5   1.933744
6   3.100826
7   3.955945
8   7.484496
9   9.008554
10  1.799084
11  1.348521
12  2.941491

In [31]:
x=df.drop(['price'],axis=1)

In [32]:
x.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT'],
      dtype='object')

In [33]:
vif['columns']=x.columns

In [34]:
vif

         VIF  columns
0   1.792192     CRIM
1   2.298758       ZN
2   3.991596    INDUS
3   1.073995     CHAS
4   4.393720      NOX
5   1.933744       RM
6   3.100826      AGE
7   3.955945      DIS
8   7.484496      RAD
9   9.008554      TAX
10  1.799084  PTRATIO
11  1.348521        B
12  2.941491    LSTAT

In [35]:
x=x.drop(['TAX'],axis=1)

In [36]:
x

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,21.0,396.90,7.88

In [37]:
x=scaler.fit_transform(x)

In [38]:
x=pd.DataFrame(x)

In [39]:
x

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.419782,0.284830,-1.287909,-0.272599,-0.144217,0.413672,-0.120013,0.140214,-0.982843,-1.459000,0.441052,-1.075562
1,-0.417339,-0.487722,-0.593381,-0.272599,-0.740262,0.194274,0.367166,0.557160,-0.867883,-0.303094,0.441052,-0.492439
2,-0.417342,-0.487722,-0.593381,-0.272599,-0.740262,1.282714,-0.265812,0.557160,-0.867883,-0.303094,0.396427,-1.208727
3,-0.416750,-0.487722,-1.306878,-0.272599,-0.835284,1.016303,-0.809889,1.077737,-0.752922,0.113032,0.416163,-1.361517
4,-0.412482,-0.487722,-1.306878,-0.272599,-0.835284,1.228577,-0.511180,1.077737,-0.752922,0.113032,0.441052,-1.026501
...,...,...,...,...,...,...,...,...,...,...,...,...
501,-0.413229,-0.487722,0.115738,-0.272599,0.158124,0.439316,0.018673,-0.625796,-0.982843,1.176466,0.387217,-0.418147
502,-0.415249,-0.487722,0.115738,-0.272599,0.158124,-0.234548,0.288933,-0.716639,-0.982843,1.176466,0.441052,-0.500850
503,-0.413447,-0.487722,0.115738,-0.272599,0.158124,0.984960,0.797449,-0.773684,-0.982843,1.176466,0.441052,-0.983048
504,-0.407764,-0.487722,0.115738,-0.272599,0.158124,0.725672,0.736996,-0.668437,-0.982843,1.176466,0.403225,-0.865302
505,-0.415000,-0.487722,0.115738,-0.272599,0.158124,-0.362767,0.434732,-0.613246,-0.982843,1.176466,0.441052,-0.669058

In [40]:
x.columns=['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'PTRATIO', 'B', 'LSTAT']

In [41]:
x

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,PTRATIO,B,LSTAT
0,-0.419782,0.284830,-1.287909,-0.272599,-0.144217,0.413672,-0.120013,0.140214,-0.982843,-1.459000,0.441052,-1.075562
1,-0.417339,-0.487722,-0.593381,-0.272599,-0.740262,0.194274,0.367166,0.557160,-0.867883,-0.303094,0.441052,-0.492439
2,-0.417342,-0.487722,-0.593381,-0.272599,-0.740262,1.282714,-0.265812,0.557160,-0.867883,-0.303094,0.396427,-1.208727
3,-0.416750,-0.487722,-1.306878,-0.272599,-0.835284,1.016303,-0.809889,1.077737,-0.752922,0.113032,0.416163,-1.361517
4,-0.412482,-0.487722,-1.306878,-0.272599,-0.835284,1.228577,-0.511180,1.077737,-0.752922,0.113032,0.441052,-1.026501
...,...,...,...,...,...,...,...,...,...,...,...,...
501,-0.413229,-0.487722,0.115738,-0.272599,0.158124,0.439316,0.018673,-0.625796,-0.982843,1.176466,0.387217,-0.418147
502,-0.415249,-0.487722,0.115738,-0.272599,0.158124,-0.234548,0.288933,-0.716639,-0.982843,1.176466,0.441052,-0.500850
503,-0.413447,-0.487722,0.115738,-0.272599,0.158124,0.984960,0.797449,-0.773684,-0.982843,1.176466,0.441052,-0.983048
504,-0.407764,-0.487722,0.115738,-0.272599,0.158124,0.725672,0.736996,-0.668437,-0.982843,1.176466,0.403225,-0.865302
505,-0.415000,-0.487722,0.115738,-0.272599,0.158124,-0.362767,0.434732,-0.613246,-0.982843,1.176466,0.441052,-0.669058

In [42]:
y=df[['price']]

In [43]:
y

     price
0     24.0
1     21.6
2     34.7
3     33.4
4     36.2
..     ...
501   22.4
502   20.6
503   23.9
504   22.0
505   11.9

[506 rows x 1 columns]

In [44]:
from sklearn.model_selection import train_test_split

In [45]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=23)

In [46]:
x_train

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,PTRATIO,B,LSTAT
175,-0.412762,-0.487722,-1.034027,-0.272599,-0.386091,0.372357,-1.261508,-0.315047,-0.523001,-0.857929,0.375924,-1.026501
225,-0.359197,-0.487722,-0.720322,-0.272599,-0.437921,3.476688,0.512965,-0.428138,-0.178120,-0.488039,0.277683,-1.124623
61,-0.400535,0.585267,-0.876445,-0.272599,-0.878475,-0.453945,0.882795,1.437258,-0.178120,0.575395,0.234703,0.250482
13,-0.347230,-0.487722,-0.437258,-0.272599,-0.144217,-0.478164,-0.240919,0.433754,-0.637962,1.176466,0.441052,-0.615792
188,-0.405879,1.443658,-1.123032,-0.272599,-1.016689,0.386603,-1.403750,0.366822,-0.523001,-1.505237,0.286893,-1.134435
...,...,...,...,...,...,...,...,...,...,...,...,...
438,1.171247,-0.487722,1.015999,-0.272599,1.600725,-0.498110,0.687212,-0.938589,1.661245,0.806576,-3.154709,2.995084
457,0.533811,-0.487722,1.015999,-0.272599,1.367490,-0.496685,0.416951,-0.482900,1.661245,0.806576,-3.872327,0.600916
40,-0.416608,2.731245,-1.194528,-0.272599,-1.094434,1.053344,-1.876706,0.763470,-0.752922,-0.071913,0.427018,-1.496084
230,-0.358025,-0.487722,-0.720322,-0.272599,-0.437921,-0.432575,-0.016888,-0.058728,-0.178120,-0.488039,0.237663,-0.140603
83,-0.416385,0.585267,-0.915841,-0.272599,-1.111710,-0.167589,-0.777884,0.763280,-0.637962,0.251741,0.372415,-0.720923

In [47]:
y_train

     price
175   29.4
225   50.0
61    16.0
13    20.4
188   29.8
..     ...
438    8.4
457   13.5
40    34.9
230   24.3
83    22.9

[404 rows x 1 columns]

In [48]:
from sklearn.linear_model import LinearRegression

In [49]:
lr=LinearRegression()

In [50]:
lr.fit(x_train,y_train)

LinearRegression()

In [76]:
lr.predict(x_test)

array([[16.04258157],
       [27.69199693],
       [38.62185298],
       [18.34165742],
       [31.98829771],
       [38.314959  ],
       [24.98245061],
       [10.23910406],
       [14.51904236],
       [32.36878666],
       [30.04470935],
       [18.11461202],
       [13.6241011 ],
       [32.18224448],
       [17.0940399 ],
       [21.27754408],
       [20.96205497],
       [37.28660144],
       [17.87305568],
       [15.81053204],
       [13.95152042],
       [24.86871934],
       [32.40149569],
       [39.15001677],
       [31.96695644],
       [22.48824315],
       [17.57817722],
       [20.00960182],
       [23.97171251],
       [21.07936246],
       [26.58773015],
       [33.45750387],
       [15.14315025],
       [21.59636652],
       [24.74799845],
       [34.34547427],
       [28.1934143 ],
       [18.22658835],
       [13.77712218],
       [37.98273212],
       [32.40461154],
       [18.57809302],
       [19.69414767],
       [40.96028626],
       [ 7.4906212 ],
       [28.12711223],
       [19.16868942],
       [25.39243443],
       [15.32459229],
       [26.02597979],
       [34.68434986],
       [23.60610397],
       [19.49377981],
       [12.40153617],
       [24.47522807],
       [17.89970914],
       [ 9.46238459],
       [ 2.16534975],
       [30.75537524],
       [13.55436072],
       [20.28109994],
       [22.19647058],
       [20.25129155],
       [17.8843302 ],
       [24.44956038],
       [26.68877455],
       [25.89262188],
       [22.21709796],
       [24.55443424],
       [31.75120997],
       [21.13186064],
       [27.75553637],
       [15.13803915],
       [24.44795859],
       [19.6502109 ],
       [18.37487944],
       [17.91513818],
       [16.11489474],
       [28.77826077],
       [-0.94389459],
       [32.25030297],
       [12.53549753],
       [24.69135374],
       [20.82466182],
       [14.62228129],
       [21.47317089],
       [18.21858126],
       [25.45848994],
       [18.9343912 ],
       [33.63206641],
       [15.47021707],
       [36.04570847],
       [20.21216305],
       [24.84757701],
       [32.66962881],
       [28.06277808],
       [19.07820799],
       [30.96236031],
       [26.47753246],
       [37.52442472],
       [17.60737675],
       [16.68336458]])

In [51]:
lr.score(x_test,y_test)

0.7317438014602731

In [52]:
def adj_r2(x,y):
    r2=lr.score(x,y)
    n=x.shape[0] 
    p=x.shape[1]
    adj_r2=1-((1-r2)*(n-1)/(n-p-1))
    return adj_r2

In [53]:
adj_r2(x_test,y_test)

0.6955744263762649

In [54]:
#Regularization
from sklearn.linear_model import LassoCV,Lasso,RidgeCV,Ridge,ElasticNetCV,ElasticNet

In [55]:
lasso=LassoCV(cv=10,max_iter=20000,normalize=True)
lasso.fit(x_train,y_train)

c:\users\shambhuraj patil\appdata\local\programs\python\python39\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

LassoCV(cv=10, max_iter=20000, normalize=True)

In [56]:
lasso.alpha_

0.0020817816394484118

In [57]:
lasso=Lasso(alpha=0.0020817816394484118)
lasso.fit(x_train,y_train)

Lasso(alpha=0.0020817816394484118)

In [58]:
lasso.score(x_test,y_test)

0.7318993193710217

In [59]:
ridgecv=RidgeCV(alphas=np.random.uniform(0,10,60),cv=10,normalize=True)
ridgecv.fit(x_train,y_train)

RidgeCV(alphas=array([0.06010475, 8.88004371, 2.89588374, 6.12798342, 4.89892755,
       7.37222575, 7.01366483, 3.17479574, 6.22262526, 2.77010041,
       9.2228174 , 6.06767712, 1.39475444, 8.18094147, 4.8878433 ,
       3.04845636, 6.94614158, 0.35099037, 0.76573083, 6.26816224,
       3.60112469, 9.61265126, 1.20410602, 5.36742209, 0.47209645,
       3.8314407 , 5.58419741, 8.1786789 , 8.57223399, 5.04508628,
       5.88601606, 8.81575737, 7.63349421, 2.99178863, 6.8319434 ,
       7.03943996, 1.32757531, 0.25745486, 7.04058277, 1.94288361,
       9.94373706, 0.41967949, 5.91044934, 4.08628156, 8.87185586,
       8.22168293, 5.04481562, 3.60638538, 1.64201117, 0.16588363,
       6.41232107, 6.67767414, 9.73119218, 9.44063776, 2.24174172,
       9.49994048, 3.69297625, 8.61353759, 6.74203584, 9.75034968]),
        cv=10, normalize=True)

In [61]:
ridgecv.alpha_

0.0601047521485909

In [62]:
ridge=Ridge(alpha=ridgecv.alpha_)
ridge.fit(x_train,y_train)

Ridge(alpha=0.0601047521485909)

In [63]:
ridge.score(x_test,y_test)

0.7317684211639056

In [64]:
elasticnetcv=ElasticNetCV(cv=10)

In [65]:
elasticnetcv.fit(x_train,y_train)

c:\users\shambhuraj patil\appdata\local\programs\python\python39\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

ElasticNetCV(cv=10)

In [66]:
elasticnetcv.alpha_

0.03875027383221796

In [67]:
elasticnet=ElasticNet(alpha=elasticnetcv.alpha_,l1_ratio=elasticnetcv.l1_ratio_)

In [68]:
elasticnet.fit(x_train,y_train)

ElasticNet(alpha=0.03875027383221796)

In [69]:
elasticnet.score(x_test,y_test)

0.7342404624527293

In [71]:
lr.score(x_test,y_test)

0.7317438014602731

In [72]:
import pickle

In [73]:
pickle.dump(lr,open('final_model.pkl','wb'))

In [74]:
model=pickle.load(open('final_model.pkl','rb'))

In [75]:
model.score(x_test,y_test)

0.7317438014602731